@font-face {
    font-family: font;
    src: url("Quicksand-VariableFont_wght.ttf");
}

body{
    margin: 0.3em;
    padding: 0;
    background-color: rgb(255, 244, 229);
    font-family: font;
}

img{
    width: 100%;
}

h2{
    margin-bottom: 0.2em;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.justify{
    display: flex;
    flex-direction: column;
    margin: 1em 0.4em;
}

p{
    margin: 0.5em 0;
}

.split{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.split > p {
    padding: 0 0.5em;
}

.split > img{
    width: 50%;
}

.leftp{
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
}

.rightp{
    width: 45%;
    right: 0;
    padding-left: 0.2em;
    align-items: flex-end;
}

#left{
    padding-left: 0;
}

#right{
    padding-right: 0;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

