body{
    margin: 0.3em;
    padding: 0;
    background-color: rgb(255, 244, 229);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

img{
    width: 100%;
}

h2{
    margin-bottom: 0.2em;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify{
    display: flex;
    flex-direction: column;
    margin: 1em 0.4em;
}

p{
    margin: 0.5em 0;
}

.split{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.split > p {
    padding: 0 0.5em;
}

.split > img {
    width: 50%;
}

.leftp{
    display: flex;
    align-items: center;
}

.rightp{
    width: 100%;
    right: 0;
    padding-left: 0.4em;
}

#left{
    padding-left: 0;
}

#right{
    padding-right: 0;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

